.container__segnalazioni{
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: flex-start;
    overflow: scroll;
    height: 650px;
    scrollbar-width: none;
}

.segnalazione {
  width: 100%;
  padding: 15px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 32px;
  background-color: #ffffff;
  cursor: pointer;
}

.segnalazione:hover {
  background-color: #ffffff;
  cursor: pointer;
  filter: brightness(95%);
  transition: 0.3s;
}

.segnalazione__header,
.segnalazione__footer {
  display: flex;
  justify-content: space-between;
}

.segnalazione__id > span,
.segnalazione__agente > span,
.segnalazione__sanzione > span,
.segnalazione__zona > span {
  font-weight: normal;
  color: #909090;
}

.segnalazione__descrizione {
  font-size: 16px;
}

.segnalazione__stato{
  border-radius: 20px;
  background-color: #31D237;
  color: #ffffff;
  display: inline-block;
  font-weight: 600;
  text-align: center;
  height: max-content;
  padding: 5px 15px 5px 15px;
}

.segnalazione__id,
.segnalazione__agente,
.segnalazione__sanzione,
.segnalazione__zona{
  display: flex;
  flex-direction: column;
  font-weight: 600;
  font-size: 20px;
}

.segnalazione__id {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 5px;
}

.segnalazione__sanzione {
  text-align: right;
}
