header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}


header ul {
  display: flex;
  gap: 20px;
  padding: 0;
}

header li {
  list-style-type: none;
  text-decoration: none;
}
