.filter-container {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
  }
  
  .filter-group {
    margin-bottom: 20px;
  }
  
  .status-buttons button {
    background-color: #e0e0e0;
    border: none;
    padding: 10px;
    margin-right: 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .status-buttons button.active {
    background-color: #ccc;
  }
  
  .fine-range input, .date-range input {
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .date-range span, .fine-range span {
    margin: 0 10px;
  }
  